@model Utalca.Models.Profesor
@{
    ViewBag.Title = "Detalles";
}

<div class="jumbotron">
    <h1>@Model.Nombre    @Model.Apellido</h1>
    <p>@Model.FechaNacimiento.ToString("dd-MM-yyyy")<br />
    @Model.SitioWeb<br />
    @Model.Biografia</p>
    <p><a class="btn btn-lg btn-primary" href="@Url.Action("Index", "Profesor")">Volver a profesores</a></p>
    <a href="@Url.Action("Index", "Curso")" class="btn btn-primary" role="button">Mis Cursos</a>
</div>
