@model Utalca.ControlAsistencia.Curso


@{
    ViewBag.Title = "Detalles Curso";
}

<h2>@Html.DisplayFor(model => model.Nombre)</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Creditos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creditos)
        </dd>           
        <dt>
            @Html.DisplayNameFor(model => model.Seccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carrera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carrera.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profesores)
        </dt>
        @foreach (var participante in Model.Profesores)
        {
            <dd>@participante.Nombre</dd>
        }     
    </dl>

    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                @foreach (var clase in Model.Horario)
                {
                    <li class="list-group-item"><a href="@Url.Action("Index", "Clase", new { idCurso = Model.ID, fechaClase = clase.Fecha })">@clase.Fecha</a></li>
                }
            </ul>
        </div>
    </div>
</div>
<p>    
    @Html.ActionLink("Volver a Cursos", "Index")
</p>
