@model Utalca.ControlAsistencia.Curso


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Detalles Curso";
}

<h2 id="nombre" hidden="true" >@Html.DisplayFor(model => model.Nombre)</h2>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body" style="height:456px;">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Registrar Asistencia</h5>
            </div>
            <div class="panel-body" style="overflow:auto; height:400px;">
                @foreach (var clase in Model.Horario)
                {
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse_@clase.Fecha.ToString("yyyyMMddHHmm")">
                                        @Html.DisplayFor(modelItem => clase.Titulo)                                        
                                    </a>
                                    <a data-toggle="collapse" href="#collapse_@clase.Fecha.ToString("yyyyMMddHHmm")" class="pull-right">
                                        @Html.DisplayFor(modelItem => clase.Fecha)
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_@clase.Fecha.ToString("yyyyMMddHHmm")" class="panel-collapse collapse">                            
                                <ul class="list-group">                                
                                    @{ bool estaPresente = false;}
                                    @foreach (var alumno in Model.Alumnos)
                                    {
                                        foreach (var presente in clase.Presentes)
                                        {
                                            if (presente.ID == alumno.ID)
                                            {
                                                estaPresente = true;
                                                break;
                                            }
                                        }
                                        if (estaPresente)
                                        {
                                            <li class="list-group-item">
                                                @Html.DisplayFor(modelItem => alumno.Nombre)
                                                <input id="idAsistencia_@alumno.ID _@clase.Fecha.ToString("yyyyMMddHHmm")" type="checkbox" class="pull-right" checked>
                                            </li>
                                            estaPresente = false;
                                        }
                                        else
                                        {
                                            <li class="list-group-item">
                                                @Html.DisplayFor(modelItem => alumno.Nombre)
                                                <input id="idAsistencia_@alumno.ID _@clase.Fecha.ToString("yyyyMMddHHmm")" type="checkbox" class="pull-right" >
                                            </li>
                                            estaPresente = false;
                                        }
                                    }
                                </ul>                                                                
                                <div class="panel-footer">
                                    <ul class="list-inline">
                                        <li class="pull-right">
                                            <i class="fa fa-map-marker"></i>
                                            @Html.DisplayFor(modelItem => clase.Sala.Nombre)
                                        </li>
                                        <li>
                                            <i class="fa fa-tag"></i>
                                            @Html.DisplayFor(modelItem => clase.Tipo)
                                        </li>                                 
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>        
    </div>
</div>
<br />
<p>    
    @Html.ActionLink("Volver a Cursos", "Index")
</p>
<script>
    var nombre = $('#nombre').text();
	$('#titulo').text(nombre);
    $("input[id^='idAsistencia_']").on("click", function () {
        var idParticipante = $(this).attr("id").split("_")[1];
        var fecha = $(this).attr("id").split("_")[2];
        console.log(idParticipante);
        console.log(fecha);
        console.log(@Model.ID)
        $.ajax({
            url: "/api/CursoApi",
            data: { idParticipante: idParticipante, idCurso: @Model.ID, fechaClase: fecha},
            accepts: "application/json",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            method: "POST",
            success: function (result) {
                console.log(result);
                console.log("Exito!");
            }
        }).fail(function (e) {
            console.log(e);
            console.log("error");
        });
      }
    );
</script>
