@model Utalca.ControlAsistencia.Curso


@{
    ViewBag.Title = "Detalles Curso";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Creditos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creditos)
        </dd>            
        <dt>
            @Html.DisplayNameFor(model => model.Seccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carrera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carrera.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profesores)
        </dt>
        @foreach (var participante in Model.Profesores)
        {
            <dd>@participante.Nombre</dd>
        }     
    </dl>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th width="30%">
                        <p>Titulo</p>
                    </th>
                    <th width="30%">
                        <p>Fecha</p>
                    </th>
                    <th width="30%">
                        <p>Sala</p>
                    </th>
                    <th width="10%"></th>
                </tr>
                @foreach (var clase in Model.Horario)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => clase.Titulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => clase.Fecha)
                            <input id="fecha_@clase.Fecha" value="@clase.Fecha.ToString("yyyyMMddHHmm")" hidden />                            
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => clase.Sala.Nombre)
                        </td>                       
                        <td>
                           <button class="btn btn-default" data-toggle="modal" data-target="#modalAsistencia">Asistencia</button>
                            <div class="modal fade" id="modalAsistencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Registro Asistencia</h4>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table">
                                                <tr>
                                                    <th>
                                                        <p>Alumnos</p>
                                                    </th>
                                                    <th></th>
                                                </tr>

                                                @foreach (var participantes in clase.Presentes)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => participantes.Nombre)
                                                        </td>
                                                        <td>                                                                                                                        
                                                            <input id="idAsistencia_@participantes.ID" type="checkbox">                                                            
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-success" id="buttonSubmit">Enviar Asistencia</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </table>
            
        </div>
    </div>
</div>
<br />
<p>    
    @Html.ActionLink("Volver a Cursos", "Index")
</p>
<script>
    $(document).ready(function () {
        var titulo = $('#titulo').text("Curso");
    });
    $("input[id^='idAsistencia_']").on("click", function () {
        var idParticipante = $(this).attr("id").split("_")[1];
        var fecha = $("input[id^='fecha_']").val();
        console.log(fecha);
        $.ajax({
            url: "/api/CursoApi",
            data: { idParticipante: idParticipante, idCurso: @Model.ID, fechaClase: fecha},
            accepts: "application/json",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            method: "POST",
            success: function (result) {
                console.log(result);
                console.log("Exito en la disco!");
            }
        }).fail(function (e) {
            console.log(e);
            console.log("error");
        });
      }
    );
</script>
