@model IEnumerable<Utalca.ControlAsistencia.Curso>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cursos - Facultad Ingeniería";
}



<div class="row">
    <div class="col-md-9">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="thumbnail">
                    <img src="/Content/img/imgNoDisponible.png" alt="logo" style="height: 200px;">
                    <div class="caption">
                        <h4>@Html.DisplayFor(modelItem => item.Nombre)</h4>
                        <ul class="list-inline">
                            <li>
                                @foreach (var p in item.Profesores)
                                {
                                    <i class="fa fa-user" style="color: gray;"></i>
                                    <a href="@Url.Action("Detalles", "Profesor", new { id = p.ID })" style="color: gray;">@Html.DisplayFor(modelItem => p.Nombre)</a>
                                    <br />
                                }
                            </li>
                            <li>
                                <i class="fa fa-group" style="color: gray;"></i>
                                <a href="#" style="color: gray;">@item.Alumnos.Length</a>
                            </li>
                            <li>
                                <i class="fa fa-sitemap" style="color: gray;"></i>
                                <a href="#" style="color: gray;">@Html.DisplayFor(modelItem => item.Seccion)</a>
                            </li>
                            <li>
                                <i class="fa fa-credit-card" style="color: gray;"></i>
                                <a href="#" style="color: gray;">@Html.DisplayFor(modelItem => item.Creditos)</a>
                            </li>
                            <li>
                                <i class="fa fa-graduation-cap" style="color: gray;"></i>
                                <a href="#" style="color: gray;">@Html.DisplayFor(modelItem => item.Plan.Nombre)</a>
                            </li>
                        </ul>
                        <a href="@Url.Action("Detalles", "Curso", new { id = item.ID })" class="btn btn-primary" role="button">Detalles</a>
                    </div>
                </div>
                <br />
                <br />
            </div>
        }
    </div>
    <div class="col-md-3">
        <h3><i class="fa fa-university"></i>  Carreras</h3>
        @foreach (var item in Model)
        {
            <ul class="list-unstyled">
                <li>
                    <i class="fa fa-angle-right" style="color:dodgerblue;"></i>
                    <a href="#" style="color: gray;">@Html.DisplayFor(modelItem => item.Carrera.Nombre)</a>
                </li>
            </ul>
        }
    </div>
</div>
<script>
        $(document).ready(function () {
            var titulo = $('#titulo').text("Cursos");
            console.log(titulo);
        });
</script>