@model IEnumerable<Utalca.ControlAsistencia.Curso>

@{
    ViewBag.Title = "Cursos";
}

<h2>Cursos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creditos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carrera)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creditos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carrera.Nombre)
        </td>
        <td>            
            @Html.ActionLink("Ver Detalles", "Details", new { id=item.ID })            
        </td>
    </tr>
}
</table>
