<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="icon" type="image/ico" href="/Content/img/utalca.ico" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    @Html.Partial("_Menu")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Html.Partial("_Errores")

    <script>
        $(document).ready(function () {
            if ($('#ErroresModal').length > 0)
            {
                $("#ErroresModal").modal('show')
            }

        });
    </script>
    <div class="footer-sub bg-light-blue padd-tb-10">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copyright">
                        <span style="text-transform: uppercase; font-size: 9pt">Facultad de Ingeniería de la Universidad de Talca - 2016 ©<br><a style="font-size: 9pt; color: #eeeeee !important" href="">+ acerca de este sitio web</a>.</span>
                    </div>
                </div>
            </div><!-- ./row -->
        </div><!-- ./container -->
    </div>
</body>
</html>